/* main part
------------------
------------------ */

.img.main {
	height: auto;
	width: 50vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.bg {
    height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(146,208,80,1);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 35px;
    width: 60px;
    height: 60px;
}
#ToTopBtn:hover {
    background-color: transparent;
    font-weight: bold;
    color: rgba(146,208,80,1);
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(146,208,80,1);
}

/* about us part
------------------
------------------ */

div.libratime * {
    box-sizing: border-box;
}

.libratime {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
div.libratime .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
div.libratime .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* container-libratime around content */
div.libratime .container-libratime {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
div.libratime .container-libratime::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container-libratime to the left */
div.libratime .left {
    left: 0;
}

/* Place the container-libratime to the right */
div.libratime .right {
    left: 50%;
}

/* Add arrows to the left container-libratime (pointing right) */
div.libratime .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container-libratime (pointing left) */
div.libratime .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for container-libratimes on the right side */
div.libratime .right::after {
    left: -13px;
}

/* The actual content */
div.libratime .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  div.libratime .timeline::after {
    left: 31px;
  }
  
  /* Full-width container-libratimes */
  div.libratime .container-libratime {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  div.libratime .container-libratime::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  div.libratime .left::after, div.libratime .right::after {
    left: 15px;
  }
  
  /* Make all right container-libratimes behave like the left ones */
  div.libratime .right {
    left: 0%;
  }
}


/* card part
------------------
------------------ */

.card.x {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
}
.title.x {
	color: grey;
	font-size: 18px;
}
button.x {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}
a.x {
	text-decoration: none;
	font-size: 22px;
	color: black;
}
button.x:hover, a.x:hover {
	opacity: 0.7;
}

/* blog part in frontpage
----------------------------
------------------------- */
.blog-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 500px;
    float: right;
    background-color: rgba(255,255,255,0.8);
    margin-right: calc((100vw/-12)*2);
	margin-bottom: -20vh;
}
.blog-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.blog-container {
    padding: 2px 16px;
    max-width: 500px;
}