.img.main {
	height: auto;
	width: 50vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.bg {
    height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}