{% extends "www/auto_generator/libra_auto_base.html" %}
{% block head %}
	{% include "www/base/libra_head.html" %}
{% endblock %}
{% block body %}

<body id="home" data-spy="scroll" data-target=".navbar" data-offset="60" style="{% if bg_img %}background-image: url({{ bg_img }});-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center top;{% endif %}{% if bg_color %}background-color: {{ bg_color }}{% endif %}">
{% include "www/base/libra_navbar.html" %}
<div class="row" id="top" style="margin-top: 80px; margin-left: 0px; margin-right: 0px;"></div>
	{% for page in page_sections %}
	<div class="row" style="margin-left: 0px; margin-right: 0px; {% if part1_bg %}background-color: {{ part1_bg }};{% endif %}{% if part1_height %}height: {{ part1_height }}px;{% endif %}">
		{% if page.bs_select == "Image" %}
		<!-- Image -->
			<div class="col-xs-12">
				<img class="img main" src="{% if page.img_part1 %}{{ page.img_part1 }}{% endif %}">
			</div>
		{% elif page.bs_select == "Slideshow" %}
		<!-- slideshow -->
			{% set ref = frappe.get_doc("Page Slideshow", page.slider_part1) %}
			{% set slideshow = ref.slider %}
			{% set slider_intro = ref.slider_intro %}
			{% set indicator_show = ref.indicator_show %}
			{% set slider_desc_below = ref.slider_desc_below %}
			{% set slider_width = ref.slider_width %}
			{% set slider_height = ref.slider_height %}
			{% if ref.left %}
				{% set left = ref.left %}
				{% set middle = ref.middle %}
				{% set right = ref.right %}
			{% elif ref.right %}
				{% set middle = ref.middle %}
				{% set right = ref.right %}
			{% endif %}
			{% include "www/bootstrap/libra_slider.html" %}
		{% elif page.bs_select == "Cards" %}
		<!-- cards -->
			{% set ref = frappe.get_doc("Page Card Set", page.cards_part1) %}
			{% set desktop_qty = ref.desktop_qty %}
			{% set tablet_qty = ref.tablet_qty %}
			{% set mob_qty = ref.mob_qty %}
			{% set card_bg = ref.card_bg %}
			{% set btn_bg = ref.btn_bg_color %}
			{% set incl_modal = ref.incl_modal %}
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
			{% if ref.card_intro %}{{ ref.card_intro }}{% endif %}
			{% for card in ref.page_card_link %}
			{% include "www/bootstrap/libra_card.html" %}
			{% endfor %}
			</div>
			<div class="col-sm-2"></div>
		{% elif page.bs_select == "Media" %}
		<!-- media -->
			{% set ref = frappe.get_doc("Media Set", page.media_part1) %}
			<div class="col-sm-2"></div>
			<div class="col-sm-8"{% if ref.media_bg_color %} style="background-color: {{ ref.media_bg_color }};"{% endif %}>
				{% if ref.media_intro %}{{ ref.media_intro }}{% endif %}
				{% set medias = ref.media_link %}
				{% include "www/bootstrap/libra_media.html" %}
			</div>
			<div class="col-sm-2"></div>
		{% elif page.bs_select == "Text" %}
		<!-- text -->
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				{{ page.txt_part1 }}
			</div>
			<div class="col-sm-2"></div>
		{% elif page.bs_select == "Box" %}
		<!-- box -->
			{% set ref = frappe.get_doc("Page Box Set", page.box_part1) %}
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
			{% if ref.header %}{{ ref.header }}{% endif %}
			{% set box_height = ref.box_height %}
			{% set p_height = ref.p_height %}
			{% for box in ref.boxes %}
			{% include "www/bootstrap/libra_box.html" %}
			{% endfor %}
			</div>
			<div class="col-sm-2"></div>
		{% endif %}
	</div>
	{% endfor %}
<!-- footer -->
	{% include "www/base/libra_footer.html" %}
<!-- /footer -->
<!-- Scroll to top button -->
	<button class="btn" id="ToTopBtn" title="Go to top"><i class="fa fa-angle-up"></i></button> 
</body>
{% endblock %}
