<body id="home" data-spy="scroll" data-target=".navbar" data-offset="60" style="{% if bodyimage %}background-image: url({{ bodyimagesource[0].value }});-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center top;{% endif %}{% if bodycolor %}background-color: {{ bodycolorcode[0].value }}{% endif %}">
<!-- navbar -->
	{% include "www/base/libra_navbar.html" %}
<!-- /navbar -->
<!-- content -->
	<div class="container animated fadeIn">
		<div class="row">
			<br><br><br><h1> Contact </h1>
			<hr>
			<div class="col-sm-12" id="parent">
				<div class="col-sm-6">
					<iframe width="100%" height="320px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:{% if google_place_id %}{{ google_place_id }}{% else %}ChIJr6QVu_PHmkcRYmW_XWGpzd8{% endif %}&key=AIzaSyBh28pkiYa8hwY5iHfbwAbJLDpUHliwIjY" allowfullscreen></iframe>
				</div>
				<div class="col-sm-6">
					<form action="form.php" class="contact-form" method="post">
						<div class="form-group">
							<input type="text" class="form-control contact" id="name" name="nm" placeholder="Name" required="" autofocus="">
						</div>
						<div class="form-group form_left">
							<input type="email" class="form-control contact" id="email" name="em" placeholder="Email" required="">
						</div>
						<div class="form-group">
						   <input type="text" class="form-control contact" id="phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
						</div>
						<div class="form-group">
							<textarea class="form-control contact textarea-contact" rows="5" id="comment" name="FB" placeholder="Type Your Message/Feedback here..." required=""></textarea>
							<br>
							<button class="btn btn-default btn-send contact"> <span class="glyphicon glyphicon-send"></span> Send </button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="container second-portion">
			<div class="row">
				<!-- Boxes de Acoes -->
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<div class="box">							
						<div class="icon">
							<div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
							<div class="info">
								<h3 class="title">MAIL & WEBSITE</h3>
								<p>
									<i class="fa fa-envelope" aria-hidden="true"></i> &nbsp {% if info_mail %}<a href="mailto:{{ info_mail }}?Subject=Contact" target="_top">{{ info_mail }}</a>{% else %}<a href="mailto:info@libracore.com?Subject=Contact" target="_top">info@libracore.com</a>{% endif %}
									<br>
									<i class="fa fa-globe" aria-hidden="true"></i> &nbsp {% if website_link %}{{ website_link }}{% else %}https://libracore.com{% endif %}
								</p>
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<div class="box">							
						<div class="icon">
							<div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
							<div class="info">
								<h3 class="title">CONTACT</h3>
								<p>
									<i class="fa fa-mobile" aria-hidden="true"></i> &nbsp {% if phone_number %}{{ phone_number }}{% else %}(+41) 52 544 17 62{% endif %}
								</p>
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<div class="box">							
						<div class="icon">
							<div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
							<div class="info">
								<h3 class="title">ADDRESS</h3>
								<p>
									<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp {% if info_address %}{{ info_address }}{% else %}Jonastrasse 7<br>8636 Wald ZH<br>Schweiz{% endif %}
								</p>
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>		    
			</div>
		</div>
	</div>
<!-- /content -->
<!-- footer -->
	{% include "www/base/libra_footer.html" %}
<!-- /footer -->
<!-- Scroll to top button -->
	<button class="btn" id="ToTopBtn" title="Go to top"><i class="fa fa-angle-up"></i></button> 
	<script>
		$(document).ready(function() {
			// Add smooth scrolling to all links in navbar + footer link
			$("#ToTopBtn").on('click', function(event) {
				// Using jQuery's animate() method to add smooth page scroll
				// The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
				$('html, body').animate({
					scrollTop: 0
				}, 900, function() {
					// Add hash (#) to URL when done scrolling (default click behavior)
					//window.location.hash = "#home";
				});
			});
		})
	</script>
</body>