{% extends "www/libra_base.html" %}
{% block head %}
<head>
	<title>libracore - intelligente Datenintegrationen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
	<link rel="stylesheet" href="/assets/frappe/css/bootstrap.css">
	<script src="/assets/frappe/js/lib/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/assets/pagemaster/css/index.css">
	<script src="/assets/pagemaster/js/index.js"></script>
</head>{% endblock %}
{% block body %}
	{% include "www/libra_body.html" %}
{% endblock %}