<style>

</style>
<div class="libratime">
	<div class="timeline">
		{% for timeline in timelines %}
		{% if timeline.align == "Left" %}
		<div class="container-libratime left">
			<div class="content">
				<h2>{{ timeline.year }}</h2>
				<p>{{ timeline.highlight }}</p>
			</div>
		</div>
		{% elif timeline.align == "Right" %}
		<div class="container-libratime right">
			<div class="content">
				<h2>{{ timeline.year }}</h2>
				<p>{{ timeline.highlight }}</p>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
</body>