<div class="row" id="top" style="margin-top: 80px; margin-left: 0px; margin-right: 0px; {% if part1_bg %}background-color: {{ part1_bg }};{% endif %}{% if part1_height %}height: {{ part1_height }}px;{% endif %}">
	{% if image1 %}
		{% set imagesource = imagesource1 %}
		{% include "www/libra_image.html" %}
	{% endif %}
	{% if slider1 %}
		{% set slideshow = slideshow1 %}
		{% include "www/libra_slider.html" %}
	{% endif %}
	{% if card1 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{% set cards = cards1 %}
		{% for card in cards %}
		{% include "www/libra_card.html" %}
		{% endfor %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if text1 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{{ txt1 }}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if media1 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{% set medias = medias1 %}
		{% include "www/libra_media.html" %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
</div>
