<div class="row" id="top" style="margin-top: 80px; margin-left: 0px; margin-right: 0px; {% if part3_bg %}background-color: {{ part3_bg }};{% endif %}{% if part3_height %}height: {{ part3_height }}px;{% endif %}">
	{% if image3 %}
		{% set imagesource = imagesource3 %}
		{% include "www/bootstrap/libra_image.html" %}
	{% endif %}
	{% if slider3 %}
		{% set slideshow = sliders3 %}
		{% set slider_intro = slider_intro3 %}
		{% set indicator_show = slider3_indicator_show %}
		{% set slider_desc_below = slider3_desc_below %}
		{% set slider_width = slider3_width %}
		{% if slider3_left %}
			{% set left = slider3_left %}
			{% set middle = slider3_middle %}
			{% set right = slider3_right %}
		{% elif slider3_right %}
			{% set middle = slider3_middle %}
			{% set right = slider3_right %}
		{% endif %}
		{% include "www/bootstrap/libra_slider.html" %}
	{% endif %}
	{% if card3 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{% if card3_title %}{{ card3_title }}{% endif %}
		{% set cards = cards3 %}{% set card_bg = card3_bg_color %}{% set btn_bg = card3_btn_bg_color %}
		{% for card in cards %}
		{% include "www/bootstrap/libra_card.html" %}
		{% endfor %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if text3 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{{ txt3 }}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if media3 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8"{% if media3_bg_color %} style="background-color: {{ media3_bg_color }};"{% endif %}>
		{{ media_title3 }}
		{% set medias = medias3 %}
		{% include "www/bootstrap/libra_media.html" %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
</div>
