<div class="row" id="top" style="margin-top: 80px; margin-left: 0px; margin-right: 0px; {% if part4_bg %}background-color: {{ part4_bg }};{% endif %}{% if part4_height %}height: {{ part4_height }}px;{% endif %}">
	{% if image4 %}
		{% set imagesource = imagesource4 %}
		{% include "www/bootstrap/libra_image.html" %}
	{% endif %}
	{% if slider4 %}
		{% set slideshow = sliders4 %}
		{% set slider_intro = slider_intro4 %}
		{% set indicator_show = slider4_indicator_show %}
		{% set slider_desc_below = slider4_desc_below %}
		{% set slider_width = slider4_width %}
		{% set slider_height = slider4_height %}
		{% if slider4_left %}
			{% set left = slider4_left %}
			{% set middle = slider4_middle %}
			{% set right = slider4_right %}
		{% elif slider4_right %}
			{% set middle = slider4_middle %}
			{% set right = slider4_right %}
		{% endif %}
		{% include "www/bootstrap/libra_slider.html" %}
	{% endif %}
	{% if card4 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{% if card4_title %}{{ card4_title }}{% endif %}
		{% set cards = cards4 %}{% set card_bg = card4_bg_color %}{% set btn_bg = card4_btn_bg_color %}
		{% for card in cards %}
		{% include "www/bootstrap/libra_card.html" %}
		{% endfor %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if text4 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{{ txt4 }}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if media4 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8"{% if media4_bg_color %} style="background-color: {{ media4_bg_color }};"{% endif %}>
		{{ media_title4 }}
		{% set medias = medias4 %}
		{% include "www/bootstrap/libra_media.html" %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
</div>
