<div class="row" id="top" style="margin-top: 80px; margin-left: 0px; margin-right: 0px; {% if part5_bg %}background-color: {{ part5_bg }};{% endif %}{% if part5_height %}height: {{ part5_height }}px;{% endif %}">
	{% if image5 %}
		{% set imagesource = imagesource5 %}
		{% include "www/bootstrap/libra_image.html" %}
	{% endif %}
	{% if slider5 %}
		{% set slideshow = sliders5 %}
		{% set slider_intro = slider_intro5 %}
		{% set indicator_show = slider5_indicator_show %}
		{% set slider_desc_below = slider5_desc_below %}
		{% set slider_width = slider5_width %}
		{% set slider_height = slider5_height %}
		{% if slider5_left %}
			{% set left = slider5_left %}
			{% set middle = slider5_middle %}
			{% set right = slider5_right %}
		{% elif slider5_right %}
			{% set middle = slider5_middle %}
			{% set right = slider5_right %}
		{% endif %}
		{% include "www/bootstrap/libra_slider.html" %}
	{% endif %}
	{% if card5 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{% if card5_title %}{{ card5_title }}{% endif %}
		{% set cards = cards5 %}{% set card_bg = card5_bg_color %}{% set btn_bg = card5_btn_bg_color %}
		{% for card in cards %}
		{% include "www/bootstrap/libra_card.html" %}
		{% endfor %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if text5 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{{ txt5 }}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if media5 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8"{% if media5_bg_color %} style="background-color: {{ media5_bg_color }};"{% endif %}>
		{{ media_title5 }}
		{% set medias = medias5 %}
		{% include "www/bootstrap/libra_media.html" %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
</div>
