<div class="row" id="top" style="margin-top: 80px; margin-left: 0px; margin-right: 0px; {% if part2_bg %}background-color: {{ part2_bg }};{% endif %}{% if part2_height %}height: {{ part2_height }}px;{% endif %}">
	{% if image2 %}
		{% set imagesource = imagesource2 %}
		{% include "www/bootstrap/libra_image.html" %}
	{% endif %}
	{% if slider2 %}
		{% set slideshow = slideshow2 %}
		{% include "www/bootstrap/libra_slider.html" %}
	{% endif %}
	{% if card2 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{% set cards = cards2 %}
		{% for card in cards %}
		{% include "www/bootstrap/libra_card.html" %}
		{% endfor %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if text2 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{{ txt2 }}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if media2 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{% set medias = medias2 %}
		{% include "www/bootstrap/libra_media.html" %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
</div>
