<div class="row" id="top" style="margin-top: 80px; margin-left: 0px; margin-right: 0px; {% if part1_bg %}background-color: {{ part1_bg }};{% endif %}{% if part1_height %}height: {{ part1_height }}px;{% endif %}">
	{% if image1 %}
		{% set imagesource = imagesource1 %}
		{% include "www/bootstrap/libra_image.html" %}
	{% endif %}
	{% if slider1 %}
		{% set slideshow = sliders1 %}
		{% set slider_intro = slider_intro1 %}
		{% set indicator_show = slider1_indicator_show %}
		{% set slider_desc_below = slider1_desc_below %}
		{% set slider_width = slider1_width %}
		{% set slider_height = slider1_height %}
		{% if slider1_left %}
			{% set left = slider1_left %}
			{% set middle = slider1_middle %}
			{% set right = slider1_right %}
		{% elif slider1_right %}
			{% set middle = slider1_middle %}
			{% set right = slider1_right %}
		{% endif %}
		{% include "www/bootstrap/libra_slider.html" %}
	{% endif %}
	{% if card1 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{% if card1_title %}{{ card1_title }}{% endif %}
		{% set cards = cards1 %}{% set card_bg = card1_bg_color %}{% set btn_bg = card1_btn_bg_color %}
		{% for card in cards %}
		{% include "www/bootstrap/libra_card.html" %}
		{% endfor %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if text1 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		{{ txt1 }}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
	{% if media1 %}
	<div class="col-sm-2"></div>
	<div class="col-sm-8"{% if media1_bg_color %} style="background-color: {{ media1_bg_color }};"{% endif %}>
		{{ media_title1 }}
		{% set medias = medias1 %}
		{% include "www/bootstrap/libra_media.html" %}
	</div>
	<div class="col-sm-2"></div>
	{% endif %}
</div>
