<div class="comment-view">
	{% if comment_text %}
	<div class="comment-header">{{ comment_text }}</div>
	{% endif %}
	{% if not comment_list %}
	<div class="no-comment">
		<p class="text-muted small">{{ _("No comments yet. Start a new discussion.") }}</p>
	</div>
	{% endif %}

	<div itemscope itemtype="http://schema.org/UserComments" id="comment-list">
		{% for comment in comment_list %}
		{% include "templates/includes/comments/comment.html" %}
		{% endfor %}
	</div>
</div>

{% if not is_communication %}
<div class="add-comment-section">
	<div class="text-muted hidden login-required">
		<a href="/login?redirect-to={{ pathname }}">{{ _("Login to comment") }}</a>
	</div>

	<div class="comment-form-wrapper">
		<a class="add-comment btn btn-default btn-xs">{{ _("Add Comment") }}</a>
			<div style="display: none;" id="comment-form">
			<p>{{ _("Leave a Comment") }}</p>
			<div class="alert" style="display:none;"></div>
			<form>
				<fieldset>
					<div class="row {% if _login_required %}hide{% endif %}"
						style="margin-bottom: 15px;">
						<div class="col-sm-6">
							<input class="form-control" name="comment_by_fullname"
								placeholder="{{ _("Your Name") }}" type="text">
						</div>
						<div class="col-sm-6">
							<input class="form-control" name="comment_by"
								placeholder="{{ _("Your Email Address") }}" type="email">
						</div>
					</div>
					<p><textarea class="form-control" name="comment" rows=10
						placeholder="{{ _("Comment") }}"></textarea></p>
                        <button class="btn btn-primary btn-sm" id="submit-comment" style="margin-top:10px">
                            {{ _("Submit") }}</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endif %}
<script>
	{% include "www/news/news_post.js" %}
</script>
