<footer class="web-footer" style="background-color: {% if footer_bg_color %}{{ footer_bg_color }}{% else %}rgba(255,255,255,0.5){% endif %}; border-color: transparent;">
	<section class="footer-links">
		<div class="container">
			<div class="row footer-bottom-line">
				<div class="text-muted small col-sm-6 col-xs-12" style="color: {{ footer_txt_color }};"><br><br>
					<div>&copy; {% if txt or footer_txt %}{{ txt or footer_txt }}{% else %}libracore GmbH{% endif %}<br><br>
					</div>
				</div>
				<div class="text-muted small col-sm-6 col-xs-12 text-right footer-powered"><br><br>
					<a href="{% if link %}{{ link }}{% else %}https://libracore.com{% endif %}" target="_blank" class="text-muted" style="color: {{ footer_txt_color }};">{% if link_title %}{{ link_title }}{% else %}Powered by ERPNext / libracore business software{% endif %}</a>					
				</div>
			</div>
		</div>
	</section>
</footer>